node_modules
npm-debug.log*
yarn-debug.log*
yarn-error.log*

.git
.gitignore
.github

.env
.env.*
!.env.example

coverage

test
tests

README.md

Dockerfile
docker-compose.yml
docker-compose.*.yml

*.log

.vscode
.idea